# Talent Hive Bot
TOKEN=

# Talent Hive Channel
CHANNEL_ID=


# OFFICIAL

APPLICANT_BOT_TOKEN=
EMPLOYER_BOT_TOKEN=
DB_URL=
REDIS_URL=


# FOR ADMINS

# Admin Bot
ADMIN_BOT_TOKEN=

# Admin Group
ADMIN_GROUP_ID=

# Group
HULUMJOBS_GROUP_ID=
