black
redis
torch
openai
pytest
pymongo
# psycopg2
pytest-mock
transformers
sentencepiece
pytest-asyncio
psycopg2-binary
pylint[spelling]
python-telegram-bot

# Optional (Web Dashboard)
fastapi
uvicorn[standard]
jinja2
